

* {
  margin: 0%;
}

body {
  height: 100vh;
  width: 100%;
  background-color: rgb(124, 210, 218);
  font-family: 'Kalam', cursive;
  font-size: 300%;
  font-weight: bolder;
  text-align: center;
  color: rgb(124, 210, 218);
}

#Line1 {
  position: absolute;
  animation-name: firstLine;
  animation-delay: 2s;
  animation-direction: forwards;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#Line2 {
  position: absolute;
  animation-name: secondLine;
  animation-delay: 5s;
  animation-direction: forwards;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#Line3 {
  position: absolute;
  animation-name: thirdLine;
  animation-delay: 8s;
  animation-direction: forwards;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#Line4 {
  position: absolute;
  animation-name: fourthLine;
  animation-delay: 11s;
  animation-direction: forwards;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#Line5 {
  position: absolute;
  animation-name: fifthLine;
  animation-delay: 14s;
  animation-direction: forwards;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#Line6 {
  position: absolute;
  animation-name: sixthLine;
  animation-delay: 17s;
  animation-direction: forwards;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#Line7 {
  position: absolute;
  animation-name: seventhLine;
  animation-delay: 20s;
  animation-direction: forwards;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.troubles {
  font-family: 'Amatic SC', sans-serif;
  size: 300%;
  animation-name: troubles;
  animation-delay: 10s;
  animation-direction: alternate;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#Line5 #stick {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  animation-name: stick;
  animation-delay: 15s;
  animation-direction: alternate;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#Line5 #together {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  animation-name: together;
  animation-delay: 15s;
  animation-direction: alternate;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.youve {
  animation-name: youve;
  animation-delay: 10s;
  animation-direction: alternate;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#Line7 #friend {
  text-decoration: none;
  color: rgb(124, 210, 218);
  animation-name: friend;
  animation-delay: 23s;
  animation-direction: alternate-reverse;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/* #friend:hover {
  font
} */



@keyframes firstLine {
  from {
    opacity: 0;
    margin-top: 10%;
    margin-left: 32%;
  }
  to {
    color: white;
    margin-top: 5%;
    margin-left: 32%;
  }
}

@keyframes secondLine {
  from {
    opacity: 0;
    margin-top: 15%;
    margin-left: 40%;
  }
  to {
    color: white;
    margin-top: 10%;
    margin-left: 40%;
  }
}

@keyframes thirdLine {
  from {
    opacity: 0;
    margin-top: 20%;
    margin-left: 22%;
  }
  to {
    color: white;
    margin-top: 15%;
    margin-left: 22%;
  }
}

@keyframes fourthLine {
  from {
    opacity: 0;
    margin-top: 25%;
    margin-left: 30%;
  }
  to {
    color: white;
    margin-top: 20%;
    margin-left: 30%;
  }
}

@keyframes fifthLine {
  from {
    opacity: 0;
    margin-top: 30%;
    margin-left: 25%;
  }
  to {
    color: white;
    margin-top: 25%;
    margin-left: 25%;
  }
}

@keyframes sixthLine {
  from {
    opacity: 0;
    margin-top: 35%;
    margin-left: 36%;
  }
  to {
    color: white;
    margin-top: 30%;
    margin-left: 36%;
  }
}

@keyframes seventhLine {
  from {
    margin-top: 42%;
    margin-left: 30%;
  }
  to {
    color: white;
    margin-top: 37%;
    margin-left: 30%;
    font-size: 150%;
  }
}

@keyframes troubles {
  from {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-5deg) scale(2,1) skew(3deg);
    color: rgb(92, 20, 20);
  }
}

@keyframes troubles {
  from {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-5deg) scale(2,1) skew(3deg);
    color: rgb(92, 20, 20);
  }
}

@keyframes friend {
  from {
    color: rgb(124, 210, 218);
  }
  to {
    color: rgb(255, 245, 106);
  }
}

@keyframes stick {
  from {
    color: rgb(124, 210, 218);
  }
  to {
    color: rgb(219, 255, 111);
  }
}

@keyframes together {
  from {
    color: rgb(124, 210, 218);
  }
  to {
    color: rgb(219, 255, 111);
  }
}