

* {
  margin: 0%;
}

body {
  height: 100vh;
  width: 100%;
  background-color: rgb(124, 210, 218);
  font-family: 'Kalam', cursive;
  font-size: 300%;
  font-weight: bolder;
  text-align: center;
  color: rgb(124, 210, 218);
}

#Line1 {
  position: absolute;
  animation-name: firstLine;
  animation-delay: 0s;
  animation-direction: forwards;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#Line2 {
  position: absolute;
  animation-name: secondLine;
  animation-delay: 5s;
  animation-direction: forwards;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#Line3 {
  position: absolute;
  animation-name: thirdLine;
  animation-delay: 10s;
  animation-direction: forwards;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#Line3 #love{
  font-family: 'Dancing Script', cursive;
  text-transform: uppercase;
  animation-name: love;
  animation-delay: 10s;
  animation-direction: forwards;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#Line4 {
  position: absolute;
  animation-name: fourthLine;
  animation-delay: 15s;
  animation-direction: forwards;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#Line4 #meyou {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(124, 210, 218);
  animation-name: meyou;
  animation-delay: 15s;
  animation-direction: forwards;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#Line1 #little {
  color: rgb(124, 210, 218);
  animation-name: little;
  animation-delay: 5s;
  animation-direction: forwards;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#Line2 #bigger {
  color: rgb(124, 210, 218);
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  animation-name: bigger;
  animation-delay: 7s;
  animation-direction: forwards;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#Line2 #stronger {
  color: rgb(124, 210, 218);
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  animation-name: stronger;
  animation-delay: 7s;
  animation-direction: forwards;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}


@keyframes firstLine {
  from {
    margin-top: 10%;
    margin-left: 0%;
  }
  to {
    color: white;
    margin-top: 10%;
    margin-left: 18%;
  }
}

@keyframes secondLine {
  from {
    margin-top: 15%;
    margin-left: 50%;
  }
  to {
    color: white;
    margin-top: 15%;
    margin-left: 30%;
  }
}

@keyframes thirdLine {
  from {
    margin-top: 20%;
    margin-left: 0%;
  }
  to {
    color: white;
    margin-top: 20%;
    margin-left: 20%;
  }
}

@keyframes fourthLine {
  from {
    margin-top: 30%;
    margin-left: 50%;
  }
  to {
    color: white;
    margin-top: 30%;
    margin-left: 25%;
    font-size: 200%;
  }
}

@keyframes meyou {
  from {
    color: white;
  }
  to {
    color: rgb(255, 245, 106);
  }
}

@keyframes little {
  from {
    color: white;
  }
  to {
    color: rgb(255, 213, 155);
    font-size: 70%;
  }
}

@keyframes bigger {
  from {
    color: white;
  }
  to {
    color: rgb(255, 135, 96);
    font-size: larger;
  }
}

@keyframes stronger {
  from {
    color: white;
  }
  to {
    color: rgb(255, 135, 96);
    font-size: larger;
  }
}

@keyframes love {
  from {
    color: white;
  }
  to {
    color: rgb(255, 185, 226);
    font-size: 150%;
  }
}